<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
{% include 'include/head.html' %}

<head>
            <script type="text/javascript" src="./test_files/nhm.js"></script>
<style type="text/css">
    {# <!--@import url("http://www.nhm.ac.uk/styles/nhm-page.css"); --> todo: sabbar layout... #}
    @import url("http://www.nhm.ac.uk/styles/content.css");
    @import url("http://www.nhm.ac.uk/styles/utilities.css");
    @import url("http://www.nhm.ac.uk/styles/generic/layout/columns-single-full.css");
    @import url("http://www.nhm.ac.uk/styles/research-curation/section.css");

        <!--@import url("http://www.nhm.ac.uk/styles/tabs.css");-->
</style>
        <link rel="stylesheet" href="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/css/jsonSuggest.css" type="text/css">
        <link rel="stylesheet" href="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/css/wallace.css" type="text/css">
        <link rel="stylesheet" href="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/css/iviewer.css" type="text/css">
            <script src="http://www.nhm.ac.uk/js/tabs.js" type="text/javascript">;</script>
            <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/jquery-1.4.4.min.js"></script>

        <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/easypaginate.js"></script>
        <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/jquery-ui-1.8.9.min.js"></script>
        <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/jquery.iviewer.js"></script>

        <script type="text/javascript">
            var proxiedPath  = '/research-curation/scientific-resources/collections/library-collections/wallace-letters-online';
        </script>
        <script type="text/javascript" src="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/js/wallace.js"></script>
        <link rel="stylesheet" href="http://www.nhm.ac.uk/research-curation/scientific-resources/collections/library-collections/wallace-letters-online/css/iviewer.css" type="text/css" />


</head>




    <body>
   <div class="container" id="container"
<div class="aligned">

<div class="alert alert-warning" </div>

<dl class="dl-horizontal"> <br> {{ debug }} <br><br>
    <dt>Description</dt>{# debug #}
{# Replace with edit button. Can't get glyph-icon to display (?) #}
      <div class="checkbox" style="float:right">
<button type="button" class="btn btn-default btn-lg"><a href="../letter_edit?id={{ item_tblMaster_dict['pk_WCP_Number'] }}">edit</a></button>
  </div>


Link: {{ link }}

    <dd style="color:#ae262a">
L{{ item_tblMaster_dict['pk_WCP_Number'] }}. {{ item_tblMaster_dict['sender_name']}}
<a href="/person/?id={{ item_tblMaster_dict['fk_PersonID_Author'] }}"> icon </a>
to
        {{item_tblMaster_dict['addressee_name']}}
<a href="/person/?id={{ item_tblMaster_dict['fk_PersonID_Addressee']}}"> icon </a>,

</dd>
<dd style="color:#ae262a"> Sent from {{'adress'}} to {{'address'}}. {{ item_tblMaster_dict['Day'] }} {{ item_tblMaster_dict['Month'] }} {{ item_tblMaster_dict['Year'] }}

{#  Print notes on letter #}
{% if item_tblMaster_dict['NotesLetterDate']|length > 0 %}
    <a href="#" data-toggle="tooltip" title="test, hooray">Note </a>
    Notes on letter date: {{ item_tblMaster_dict['NotesLetterDate'] }}.
    <br>
    {% endif%}

{# Print language #}
    {% if item_tblItem_dict['Language']|length > 0 %}
    Written in {{'language'}}. </dd>
    {% endif %}

 </dl>

<!-- <div style="font-family:arno-pro-small-text;color:#ae262a">
		<dt>Link: linnaeus.c18.net/Letter/L0061 ?
		Carl  Linnaeus  to Johannes  Burman, 24 January 1736 n.s.
		<br>
		Sent from Hartecamp (Netherlands) to Amsterdam (Netherlands).

		</dt>	</div>
-->
{# Print transcript #}
   {% if item_tblItem_dict['TranscriptFileName']|length > 0 %}
   Transcript:
<blockquote style="background:white;color:black">
  <p>{{ item_tblItem_dict['TranscriptFileName'] }}.</p>
<!-- todo transcript by user_ID -->
<!-- todo transcript verified by user_ID -->
</blockquote>
   Transcript information:
            {% if item_tblItem_dict['TranscriptionDate']|length > 0  %}
                Date of transcription: item_tblItem_dict['TranscriptionDate']
            {% endif %}

   {% elif item_tblItem_dict['HideTranscript']|length == 1 %}
       Transcript hidden.
 {% else %}
   No transcript found. <br>
   {% endif %}

{# Print summary #}
   {% if item_tblMaster_dict['Summary']|length > 0 %}
   Summary:
<blockquote style="background:white;color:black">
  <p>{{ item_tblItem_dict['Summary'] }}.</p>
<!-- todo summary by user_ID -->
<!-- todo summary verified by user_ID -->
</blockquote>
   {% else %}
   <br><br>No summary found.<br>
   {% endif %}


   <br>
{# Print manuscripts #}

   {# if check overdone ... simply when more alert lol. #}

   {% if item_tblInHandOf_dict['InHandOf']|length > 0 or item_tblInHandOf_dict['collection']|length > 1 or item_tblInHandOf_dict['InHandOfDocumentID']|length > 1 %}
   Manuscripts: <br>
   1. original holograph ({{item_tblInHandOf_dict['InHandOf']}}, {{item_tblInHandOf_dict['collection']}}, {{item_tblInHandOf_dict['InHandOfDocumentID']}})
   {% else %}
   No manuscripts found
   {% endif %}
   <br>
{# Print editions #}
   {% if item_tblReference_dict['pk_ReferenceID']|length > 0 %}
   Editions: <br>
   1. Source: <a href="/source/?id={{item_tblReference_dict['pk_ReferenceID'] }}"> {{item_tblReference_dict['Title'] }}</a>,
   ({{item_tblReference_dict['YearPublished']}})
    {% else %}
   <br>No editions found
   {% endif %}
{# end print edtions #}

   <br><br>

{# {% for image_name,PageNo in item_tblImage_dict %}
 Image name: {{ image_name }}, PageNo: {{ PageNo }} <br>
{% endfor %} #}

        <div class="panel clearfix">
                <div class="panel-content">
                                <div>
                                    <input type="hidden" value="/images/" id="imagesLocation">
                                <div>
                                <ul class="recordset-nav-pages" id="pagination">
                                {% for image_name,PageNo in item_tblImage_dict %}
                                    <li data-index="{{ PageNo }}" class=""><a href="#S{{ PageNo }}" class="scanScroll">{{ PageNo }}</a></li>
                                {% endfor %}
                                </ul>
                                </div>
                                    <ul id="items" style="display:none">
                                            {% for image_name,PageNo in item_tblImage_dict %}
                                                <li style="display: none;" id="image-{{ PageNo }}">
                                                    {{ image_name }}
                                                </li>
                                            {% endfor %}
                                </ul>
                            </div>
                            <div id="viewer2" class="viewer iviewer_cursor" style="overflow: hidden;">


                                    <div id="viewer-error" style="display: none;">
                                        Sorry, this scan is not currently available.
                                    </div>
                                <div class="viewer-controls"><ul><li class="iviewer_zoom_in iviewer_common iviewer_button"></li>
                                    <li class="iviewer_zoom_out iviewer_common iviewer_button"></li><li class="iviewer_zoom_zero iviewer_common iviewer_button"></li><li class="iviewer_zoom_fit iviewer_common iviewer_button"></li><li class="iviewer_zoom_status iviewer_common">25%</li><li class="iviewer_rotate_left iviewer_common iviewer_button"></li><li class="iviewer_rotate_right iviewer_common iviewer_button"></li></ul></div></div>

                </div>
        </div>





   {# begin footer #}
by <a href="/person/{{ fk_EditorID_RecordCreator }}l">N/A</a> on {{ item_tblMaster_dict['RecordDate'] }}
    {# end footer #}
</div>
</div></body></html>
